.footer{
    border-top: 1px solid #D0D5DD;
    background: #FFF;
}

.footerButtons{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.footerButtons > div{
    width: 100%;
}

.footerSummary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
}

.summaryWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
}

.priceWrapper{
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
}

.iconBag{
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.totalPrice{
    color: #1E1E1E;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.summaryButtons{
    display: flex;
    height: 100px;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}