.title{
    color: #FFF;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 58.333% */
}

.startButton{
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    background: var(--Gradient, linear-gradient(90deg, #FFE698 0%, #FD3C00 100%));
}