:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

.mainContainer {
    overflow: hidden;
}

.mainContainer,
.mainContainer * {
    box-sizing: border-box;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    width: 1080px;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 1620px;
    /* margin-top: 100px; */
}

.prcdOutlet p {
    width: 720px;
    height: 104px;
    margin: 0 auto;
    color: #1e1e1e;
    font-family: Poppins, var(--default-font-family);
    font-size: 32px;
    font-weight: 400;
    line-height: 52px;
    text-align: center;
}

.OrderContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    position: relative;
    width: 800px;
    margin: 0 auto;
    padding: 0 0 40px 0;
    background: #ffffff;
    border: 1px solid #eaecf0;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 0 6px 0 rgba(16, 24, 40, 0.16);
}

.pOrderConfirm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.pOrderConfirm p {
    margin: 0 auto;
    color: #1e1e1e;
    font-family: Poppins, var(--default-font-family);
    font-size: 48px;
    font-weight: 600;
}

.frstCol {
    padding: 40px 40px 20px 40px;
    color: #1e1e1e;
    font-family: Poppins, var(--default-font-family);
    font-size: 36px;
    font-weight: 600;
    width: 100%;
    border-bottom: 1px solid #D0D5DD;
}

.flexStyle {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow: auto;
}

.flexStyle, .flexStyleFirst {
    display: flex;
    color: #1e1e1e;
    width: 100%;
    font-family: Poppins, var(--default-font-family);
    font-size: 28px;
    font-weight: 400;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D0D5DD;
    padding: 24px 40px 24px 40px;
    gap: 24px;
}

.OrderContent span {
    font-weight: 600;
}

.flexStyleFirstChld {
    color: #1e1e1e;
    width: 100%;
    font-family: Poppins, var(--default-font-family);
    font-size: 28px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flexStyleLastChld {
    color: #1e1e1e;
    width: 100%;
    font-family: Poppins, var(--default-font-family);
    font-size: 28px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.flexStyleScndChld {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.flexStyle:last-child {
    border: none;
}

.paragraphMsg {
    color: #1e1e1e;
    font-family: Poppins, var(--default-font-family);
    font-size: 32px;
    font-weight: 400;
    line-height: 52px;
    margin-bottom: 120px;
    width: 75%;
}

.flexStyleChild {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overAllTotal {
    text-align: right;
}

.footer {
    background: var(--Gradient, linear-gradient(90deg, #FFE698 0%, #FD3C00 100%));
}

.backButton {
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: #FFF;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.productName {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

@media print {
    .flexStyleScndChld, .flexStyle, .OrderContent, .mainContainer {
      overflow: visible !important;
      height: auto !important;
    }
    .mainContainer {
      height: auto !important;
      margin-top: 40px;
    }
}