.grayBtn {
    cursor: pointer;
    display: flex;
    height: 100px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    border-radius: 16px;
    background: var(--Gray-200, #EAECF0);

    /* shadow-2 */
    box-shadow: 0px 0px 16px -4px rgba(16, 24, 40, 0.04), 0px 0px 6px -2px rgba(16, 24, 40, 0.04);
    transition: background 1s ease;
}

.grayBtn:hover, .grayBtn:active {
    background: var(--Gray-200, #b4b6b8);
}

.grayBtn>span>p {
    color: var(--Gray-600, #475467);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



.whiteBtn {
    cursor: pointer;
    display: flex;
    height: 100px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    border-radius: 16px;
    border: 1px solid #1E1E1E;
    background: #FFF;

    /* shadow-2 */
    box-shadow: 0px 0px 16px -4px rgba(16, 24, 40, 0.04), 0px 0px 6px -2px rgba(16, 24, 40, 0.04);
    transition: background 1s ease;
}

.whiteBtn:hover, .whiteBtn:active {
    background-color: rgba(222, 221, 221, 0.807);
}


.whiteBtnDisabled {
    border: 1px solid #8E8E8E;
    cursor: not-allowed;
}

.whiteBtn>span>p {
    color: #1E1E1E;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.whiteBtnDisabled>span>p {
    color: #8E8E8E;
}


.blackBtn {
    cursor: pointer;
    display: flex;
    height: 100px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    border-radius: 16px;
    background: #1E1E1E;

    /* shadow-2 */
    box-shadow: 0px 0px 16px -4px rgba(16, 24, 40, 0.04), 0px 0px 6px -2px rgba(16, 24, 40, 0.04);
    transition: background 1s ease;
}

.blackBtn:hover, .blackBtn:active {
    background: #030523cb
}

.blackBtnDisabled {
    background: #8E8E8E;
    cursor: not-allowed;
}

.blackBtnDisabled:hover {
    background: #8E8E8E !important;
}

.blackBtn>span,
.whiteBtn>span,
.grayBtn>span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.blackBtn>span>p {
    color: #FFF;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes fadeOutContent {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.modalWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 1080px;
    height: 1920px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 999999;
    background: rgba(30, 30, 30, 0.50);
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.8s, opacity 0.5s ease-out 0.5s;
}

.modalWrapper.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.modalContent {
    display: flex;
    width: 1080px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 48px 48px 0px 0px;
    background: #FFF;
    max-height: 1920px;
    overflow: hidden;
    transform: translateY(100%);
    animation: slideUp 0.5s ease-out forwards;
}

.modalContent.fadeOut {
    animation: fadeOutContent 0.5s forwards;
}



@media (max-width: 1080px) {
    .modalWrapper, .modalContent {
        width: 100wh;
        left: 0;
        right: 0;
        transform: initial;
        position: fixed;
    }

    .modalContent {
        overflow-x: auto;
    }
}

.modalTitleWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding: 40px 40px 0 40px;
}

.modalExtras {
    display: flex;
    height: 100px;
    /* padding: 0px 40px; */
    margin-top: 60px;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.bottomModalChild {
    max-height: 1000px;
    overflow: auto;
}

.modalInnerWrapper {
    display: flex;
    /* padding: 40px 40px 20px 40px; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.modalTitle {
    color: #1E1E1E;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 52px;
    /* 130% */
}

.modalTitleDivider {
    height: 2px;
    align-self: stretch;
    background: var(--Gray-200, #EAECF0);
}

.modalSubtitle {
    color: #1E1E1E;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    /* 162.5% */
}

.stepperInputWrapperMedium {
    display: flex;
    height: 100px;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D0D5DD);
    background: #FFF;
    /* shadow-2 */
    overflow: hidden;
    box-shadow: 0px 0px 16px -4px rgba(16, 24, 40, 0.04), 0px 0px 6px -2px rgba(16, 24, 40, 0.04);
}

.stepperActionWrapperMedium {
    display: flex;
    width: 100px;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--White, #FFF);
    cursor: pointer;
    transition: background 1s ease;
}

.stepperActionWrapperMedium:hover, .stepperActionWrapperMedium:active {
    background: rgba(220, 220, 220, 0.7);
}

.stepperValueMedium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;

    border-left: 1px solid #cfd4dc;
    border-right: 1px solid #cfd4dc;
}

.stepperValueMedium>span {
    color: #1E1E1E;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    /* 100% */
}

.stepperInputWrapperSmall {
    display: flex;
    width: 300px;
    height: 68px;
    align-items: flex-start;
    align-self: stretch;
    flex-direction: row;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D0D5DD);
    background: #FFF;
    overflow: hidden;

    /* shadow-2 */
    box-shadow: 0px 0px 16px -4px rgba(16, 24, 40, 0.04), 0px 0px 6px -2px rgba(16, 24, 40, 0.04);
}

.stepperActionWrapperSmall {
    display: flex;
    width: 68px;
    height: 68px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--White, #FFF);
}

.stepperValueSmall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;

    border-left: 1px solid #cfd4dc;
    border-right: 1px solid #cfd4dc;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.stepperValueSmall>span {
    color: #1E1E1E;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    /* 100% */
}

.slideshowWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.slideshowWrapper img, .slideshowWrapper video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.slideshowWrapper button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.slideshowWrapper button:first-child {
    left: 10px;
}

.slideshowWrapper button:last-child {
    right: 10px;
}

.navButton {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.navButton:hover, .navButton:active {
    background: rgba(0, 0, 0, 0.8);
}

.navIcon {
    width: 24px;
    height: 24px;
    color: white;
}