.camayaLogo {
    width: 285px;
    height: 150px;
    margin: 56px 398px 150px 397px;
}

.title {
    color: #1E1E1E;
    text-align: center;
    font-family: 'Poppins';
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 58.333% */
    margin-bottom: 100px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outlets {
    height: 1136px;
    overflow: auto;
}

.footer {
    height: 300px;
    display: flex;
    align-items: center;
}

.camayaLogoGray {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.backBtn {
    width: 300px;
}

.backwardAnimation {
    position: relative;
    animation: slideFromRight 0.5s ease forwards;
    background-color: white;
}

@keyframes slideFromRight {
    from {
        right: -100%;
    }

    to {
        right: 0;
    }
}

.forwardAnimation {
    position: relative;
    animation: slideFromLeft 0.5s ease forwards;
    background-color: white;
}

@keyframes slideFromLeft {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}